---
layout: archive
title: ""
permalink: /cv/
author_profile: false
redirect_from:
- /cv.html
---

{% include base_path %}
{% assign cv = site.data.cv %}

<div class="cv-modern">
  <section class="cv-header">
    <h1 class="cv-name">{{ cv.basics.name }}</h1>
    <div class="cv-grid-container">
      {% for contact in cv.basics.contact %}
        <div class="cv-grid-key">
          {{ contact[0] }}:
        </div>
        <div class="cv-grid-value">
          {% case contact[0] %}
            {% when "E-mail" %}
              <a href="mailto:{{ contact[1] }}">
                {{ contact[1] }}
              </a>
            {% when "Website" %}
              <a href="{{ contact[1] }}" target="_blank" rel="noopener">
                {{ contact[1] }}
              </a>
            {% when "Address" %}
              <a href="https://www.google.com/maps/search/?api=1&query={{ contact[1].address_query }}" target="_blank" rel="noopener"
                class="cv-contact-address">
                <div>{{ contact[1].street1 }},</div>
                <div>{{ contact[1].street2 }},</div>
                <div>{{ contact[1].city }}, {{ contact[1].region }} {{ contact[1].postalCode }},</div>
                <div>{{ contact[1].country }}.</div>
              </a>
            {% when "Employment" %}
              <div>{{ contact[1].position }}</div>
              <div>
                <a href="{{ contact[1].url }}" target="_blank" rel="noopener">{{ contact[1].company }}</a>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </section>

  {% for section in cv.contents %}
    <section class="cv-section">
      <h2 class="cv-section-title">{{ section[0] }}</h2>
      <div class="cv-grid-container">
        {% for row in section[1] %}
          <div class="cv-grid-key">
            {% if row[1].startDate %}
              {{ row[1].startDate | date: "%B %Y" }} &ndash; {{ row[1].endDate | date: "%B %Y" }}
            {% elsif row[1].date.size == 10 %}
              {{ row[1].date | date: "%B %Y" }}
            {% else %}
              {{ row[1].date }}
            {% endif %}
          </div>
          <div class="cv-grid-value">
            <div class="cv-item-institution">{{ row[0] }}</div>
            {% case section[0] %}
              {% when "Education" %}
                {% for degree in row[1].degree %}
                  <div class="cv-item-title">
                    {{ degree }}
                  </div>
                {% endfor %}
              {% when "Professional Experience" %}
                <div class="cv-item-title">
                  {{ row[1].position }}
                </div>
              {% when "Publications" %}
                <div class="cv-item-authors">
                  {{ row[1].authors | markdownify }}
                </div>
                <div class="cv-item-title">
                  {{ row[1].publisher }}
                </div>
                <div class="cv-item-note">
                  {{ row[1].note }}
                </div>
                <div class="cv-item-links">
                  <a href="{{ row[1].pdf }}" target="_blank" rel="noopener">PDF</a>
                  <a href="{{ row[1].bibtex }}">\(\Biblatex\)</a>
                </div>
              {% when "Honors &amp; Fellowships" %}
                <div class="cv-item-title">
                  {{ row[1].awarder }}
                </div>
                <div class="cv-item-note">
                  {{ row[1].note }}
                </div>
              {% when "Talks" %}
                <div class="cv-item-title">
                  {{ row[1].event }}
                </div>
                <div class="cv-item-note">
                  {{ row[1].location }}
                </div>
              {% when "Teaching" %}
                <div class="cv-item-title">
                  {{ row[1].role }}
                </div>
                <div class="cv-item-note">
                  {{ row[1].institution }}
                </div>
              {% when "Leadership &amp; Service" %}
                <div class="cv-item-note">
                  {{ row[1].institution }}
                </div>
            {% endcase %}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
</div>