---
layout: default
permalink: "/"
author_profile: false
classes: wide
excerpt: "Machine learning for physics — unfolding, inference, and practical statistics."
---

<div class="home-profile">
  <div class="home-profile__image">
    <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" />
  </div>
  <div class="home-profile__content">
    <p>
      <strong>
        Krish Desai
      </strong>
      <br />
      <br />
      PhD, Physics
      <br />
      University of California, Berkeley
      <br />
      <br />
      Machine Learning Researcher
      <br />
      Lawrence Berkeley National Laboratory
      <br />
      50-5048, 1 Cyclotron Road,
      <br />
      Berkeley, CA 94720.
      <br />
      <br />
      <a href="mailto:krishdesai7@gmail.com">
        krishdesai7@gmail.com
      </a>
    </p>
  </div>
</div>

<div class="home-content-grid">
  <div class="primary-column">
    <h3>Recent Publications</h3>
    {% assign pubs = site.publications | sort: 'date' | reverse %}
    {% for p in pubs limit:3 %}
      <div class="archive__item">
        <h4 class="archive__item-title">
          <a href="{{ p.url | relative_url }}">
            {{ p.title | escape }}
          </a>
        </h4>
        <p class="archive__item-meta">
          {{ p.venue }} ({{ p.date | date: "%Y" }})
        </p>
      </div>
    {% endfor %}
    <p>
      <a href="{{ '/publications/' | relative_url }}">
        All publications
        <i class="fa-sharp-duotone fa-regular fa-chevron-right fa-fw" aria-hidden="true"></i>
      </a>
    </p>
  </div>

  <div class="secondary-column">
    <h3>
      Recent Talks
    </h3>
    {% assign talks = site.talks | sort: 'date' | reverse %}
    {% for t in talks limit:3 %}
      <div class="archive__item">
        <h4 class="archive__item-title">
          <a href="{{ t.url | relative_url }}">
            {{ t.title }}
          </a>
        </h4>
        {% assign short_venue = t.venue %}
        {% if t.venue contains "Neural Information Processing Systems" %}
          {% assign short_venue = "NeurIPS" %}
        {% endif %}
        <p class="archive__item-meta">
          {{ short_venue }} ({{ t.date | date: "%B %Y" }})
        </p>
      </div>
    {% endfor %}
    <p>
      <a href="{{ '/talks/' | relative_url }}">
        All talks
        <i class="fa-sharp-duotone fa-regular fa-chevron-right fa-fw" aria-hidden="true"></i>
      </a>
    </p>
  </div>
</div>