/* Dark theme for the site */
html[data-theme="dark"] {
    --global-bg-color                   : #{$warm-black};
    --global-footer-bg-color            : #{$deep-black};
    --global-border-color               : #{$warm-gray};
    --global-dark-border-color          : #{$medium-gray};
    --global-code-background-color      : #{$orange-black};
    --global-code-text-color            : #{$warm-white};
    --global-link-color                 : #{$medium-gray};
    --global-link-color-hover           : #{$bright-orange};
    --global-link-color-visited         : #{$dark-orange};
    --global-masthead-link-color        : #{$warm-white};
    --global-masthead-link-color-hover  : #{$medium-gray};
    --global-text-color                 : #{$warm-white};
    --global-text-color-light           : #{$light-gray};
    --global-hover-bg                   : #{$orange-brown};
    --global-link-decoration-color      : #{$warm-gray};
    --global-nav-link-color             : #{$warm-white};
    --global-nav-link-color-hover       : #{$medium-gray};
    --global-selection-text-color       : #{$warm-black};
    --global-selection-bg-color         : #{$muted-terracotta};
    --global-selection-bg-color-hover    : #{$warm-orange};
    --header-footer-text-color            : #{$warm-white};
    --theme-toggle-hover-color            : #{$warm-yellow};
}