{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
      {% assign author = site.data.authors[page.author] %}
{% else %}
      {% assign author = site.author %}
{% endif %}
<div itemscope itemtype="http://schema.org/Person">
      <div class="author__avatar">
            <img src="{{ author.avatar | relative_url }}" class="author__avatar" alt="{{ author.name }}"
                  fetchpriority="high"
            />
      </div>

      <div class="author__content">
            <h3 class="author__name">
                  {{ author.name }}
            </h3>
            {% if author.pronouns %}
                  <p class="author__pronouns">
                        {{ author.pronouns }}
                  </p>
            {% endif %}
            <p class="author__bio">
                  {{ author.bio }}
            </p>
      </div>

      <dl class="author__urls social-icons">
            <dt><i class="fa-solid fa-map-location-dot fa-fw" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://www.google.com/maps/place/{{ author.location }}/" target="_blank">
                        {{ author.location }}
                  </a>
            <dt><i class="fa-solid fa-fw fa-building-columns" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://www.lbl.gov" target="_blank">
                        {{ author.employer }}
                  </a>
            <dt><i class="fa-solid fa-fw fa-link" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="{{ author.uri }}" target="_blank">
                        Website
                  </a>
            <dt><i class="fa-solid fa-fw fa-envelope" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="mailto:{{ author.email }}" target="_blank">
                        E-mail
                  </a>
            </dd>
            <hr class="divider" aria-hidden="true">
            <!-- Academic websites -->
            {% if author.academia %}
                  <dt><i class="ai ai-academia ai-fw" aria-hidden="true"></i>
                  <dd class="author__desktop">
                        <a href="{{ author.academia }}" target="_blank">
                              Academia
                        </a>
            {% endif %}
            {% if author.arxiv %}
                  <dt><i class="ai ai-arxiv ai-fw" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="{{ author.arxiv }}" target="_blank">
                        arXiv
                  </a>
            {% endif %}
            {% if author.googlescholar %}
                  <dt><i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i>
                  <dd class="author__desktop">
                        <a href="{{ author.googlescholar }}" target="_blank">
                              Google Scholar
                        </a>
            {% endif %}
            {% if author.semantic %}
                  <dt><i class="ai ai-semantic-scholar ai-fw" aria-hidden="true"></i>
                  <dd class="author__desktop">
                        <a href="{{ author.semantic }}" target="_blank">
                              Semantic Scholar
                        </a>
            {% endif %}
            {% if author.orcid %}
                  <dt><i class="ai ai-orcid ai-fw" aria-hidden="true"></i>
                  <dd class="author__desktop">
                        <a href="{{ author.orcid }}" target="_blank">
                              ORCID
                        </a>
            {% endif %}
            {% if author.pubmed %}
                  <dt><i class="ai ai-pubmed ai-fw" aria-hidden="true"></i>
                  <dd class="author__desktop">
                        <a href="{{ author.pubmed }}">
                              PubMed
                        </a>
            {% endif %}
            {% if author.researchgate %}
            <dt><i class="ai ai-researchgate ai-fw" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="{{ author.researchgate }}" target="_blank">
                        ResearchGate
                  </a>
            {% endif %}
            {% if author.scopus %}
                  <dt><i class="ai ai-scopus ai-fw" aria-hidden="true"></i>
                  <dd class="author__desktop">
                        <a href="{{ author.scopus }}">
                              Scopus
                        </a>
            {% endif %}
            {% if author.inspirehep %}
            <dt><i class="ai ai-inspire ai-fw" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="{{ author.inspirehep }}">
                        INSPIRE-HEP
                  </a>
            </dd>
            {% endif %}
            <hr class="divider" aria-hidden="true">
            <!-- Repositories and software development -->
            {% if author.bitbucket %}
            <dt><i class="fa-brands fa-fw fa-bitbucket" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://bitbucket.org/{{ author.bitbucket }}">
                        Bitbucket
                  </a>
            {% endif %}
            {% if author.github %}
            <dt><i class="fa-brands fa-fw fa-github" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://github.com/{{ author.github }}" target="_blank">
                        GitHub
                  </a>
            {% endif %}
            {% if author.stackoverflow %}
            <dt><i class="fa-brands fa-fw fa-stack-overflow" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}">
                        Stackoverflow
                  </a>
            {% endif %}

            <!-- Social media -->
            {% if author.linkedin %}
            <dt><i class="fa-brands fa-fw fa-linkedin" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://www.linkedin.com/in/{{ author.linkedin }}" target="_blank">
                        LinkedIn
                  </a>
            {% endif %}
            {% if author.bluesky %}
            <dt><i class="fa-brands fa-fw fa-bluesky" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://bsky.app/profile/{{ author.bluesky }}" target="_blank">
                        Bluesky
                  </a>
            {% endif %}
            {% if author.instagram %}
            <dt><i class="fa-brands fa-fw fa-instagram" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://instagram.com/{{ author.instagram }}" target="_blank">
                        Instagram
                  </a>
            {% endif %}
            {% if author.twitter %}
            <dt><i class="fa-brands fa-fw fa-x-twitter" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://twitter.com/{{ author.twitter }}">
                        X/Twitter
                  </a>
            {% endif %}
            {% if author.wikipedia %}
            <dt><i class="fa-brands fa-fw fa-wikipedia-w" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}">
                        Wikipedia
                  </a>
            {% endif %}
            {% if author.youtube %}
            <dt><i class="fa-brands fa-fw fa-youtube" aria-hidden="true"></i>
            <dd class="author__desktop">
                  <a href="https://www.youtube.com/@{{ author.youtube }}">
                        YouTube
                  </a>
            {% endif %}
      </dl>
</div>
