<div class="page__footer-copyright">
  <span>&copy; {{ site.time | date: '%Y' }} {{ site.author.name | default: site.title }}</span>
  {% if site.author.email %}
  <a href="mailto:{{ site.author.email }}"> <i
      class="fa-solid fa-fw fa-envelope"></i> Contact</a>
  {% endif %}
  {% if site.author.github %}
    <a href="https://github.com/{{ site.author.github }}"> <i
      class="fa-brands fa-fw fa-github"></i> GitHub</a>
  {% endif %}
  <a href="/sitemap/"><i class="fa-solid fa-sitemap"></i> Sitemap</a>
</div>