<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="site-title">
      <a href="{{ site.url }}">
        {{ site.title }}
      </a>
    </div>
    <div class="nav__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="nav__menu-item">
              <a href="{{ link.url | relative_url }}">
                {{ link.title }}
              </a>
          {% endfor %}
          <li class="nav__menu-item theme-toggle">
            <button id="theme-toggle" type="button" aria-label="Toggle theme">
              <i id="theme-icon" class="fa-solid fa-fw fa-moon" aria-hidden="true"></i>
            </button>
        </ul>
      </nav>
    </div>
  </div>
</div>