{% include base_path %}
<div class="teaching-row">
  <div class="teaching-term">
      {{ post.semester }} {{ post.year }}
  </div>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="teaching-content">
      <h3 class="teaching-title" itemprop="headline">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      </h3>
      <div class="teaching-details">
        <div class="teaching-metadata">
          <div class="teaching-role">
            {{ post.type }}
          </div>
          <div class="teaching-course">
            {{ post.course }}
          </div>
        </div>

        <div class="teaching-institution">
          {{ post.venue }}
        </div>
        <div class="teaching-materials">
          {{ post.materials | markdownify }}
        </div>
      </div>
    </div>
  </article>
</div>