@use "../design/" as *;

.about-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin: 0 auto;
  dl dt {
    font-variant: small-caps;
    font-family: $header-font-family-caps;
    padding-top: var(--third-baseline);
    }
}

.author__urls {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--quarter-baseline);
  dt, dd {
    margin: 0;
    text-wrap: nowrap;
  }
  dt {
    padding-bottom: var(--quarter-baseline);
  }
  dd a {
    display: grid;
    grid-template-columns: var(--quadruple-baseline) auto;
    column-gap: var(--half-baseline);
    align-items: center;
    font-family: $sans-serif;
    text-decoration: none;
  
    .user-name {
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: var(--global-link-decoration-color);
      text-underline-offset: 0.24em;
    }
  
    .user-id {
      font-family: $code-font-family;
      color: var(--global-text-color-light);
      font-size: $font-size-12;
      border: 1px dotted var(--global-link-decoration-color);
      border-radius: $border-radius-single;
      padding: 0.1rem 0.2rem;
      justify-self: start;
    }
  
    &:hover .user-id {
      color: inherit;
    }
  
    &:focus,
    &:focus-visible {
      .user-name, .user-id {
        border: inherit;
        border-radius: inherit;
        padding: inherit;
        text-decoration: inherit;
      }
    }
  }  
  hr.divider {
    grid-column: 1 / -1;
    margin: var(--quarter-baseline);
  }
}

.author__avatar {
  margin-top: var(--baseline);
  img {
    object-fit: cover;
    box-shadow: $box-shadow;
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: $box-shadow;
    }
  }
}

.author__content .author__bio {
  margin: 0;
  padding: 0;
}

@include mobile-only {
  .about-layout {
    grid-template-columns: 1fr;
  }
}
