.cv-modern {
  margin: var(--baseline);

  .cv-header .cv-name {
    font-family: $header-font-family-caps;
    text-align: center;
    margin-bottom: var(--double-baseline);
  }

  .cv-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--half-baseline) var(--baseline);

    .cv-grid-key {
      text-align: right;
    }

    .cv-grid-value {
      div {
        margin-bottom: var(--quarter-baseline);
      }

      .cv-item-title {
        font-style: italic;
        padding-left: var(--baseline);
      }

      .cv-item-authors p {
        margin: 0;
        padding-left: var(--baseline);
        text-wrap: pretty;
      }

      .cv-item-note, 
      .cv-item-links a {
        margin-left: var(--baseline);
      }
      
      ul {
        margin: 0 0 var(--quarter-baseline) 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--half-baseline);
        list-style: none;
      }
    }
  }
}