@use "../design/" as *;
// General teaching page
.academic-year {
 padding-bottom: var(--baseline);
}

.teaching-row {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-bottom: var(--baseline);
}
.teaching-title,
.teaching-meta,
.teaching-description,
.teaching-materials,
.teaching-institution,
.teaching-course,
.teaching-role {
  margin-top: 0;
  margin-bottom: var(--third-baseline);
}
.teaching-institution {
  font-style: italic;
}
.teaching-term {
  font-family: $header-font-family-caps;
}
.teaching-materials ul {
    display: flex;
    gap: var(--baseline);
    margin: 0;
    padding: 0;
    li:first-child {
      list-style: none;
    }
}

// Singel course page
.single-teaching-content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--baseline);
  .teaching-meta-group {
    display: contents;

    .meta-label {
      grid-column: 1;
      justify-self: end;
    }
    .meta-value {
      grid-column: 2;
      margin: 0;

      ul {
        display: flex;
        gap: var(--baseline);
        margin: 0;
        padding: 0;
        li:first-child {
          list-style: none;
        }
      }
    }
  }
  .course-description {
    grid-column: 1 / -1;
    text-align: justify;
  }
}
