
/*
   em function
   ========================================================================== */

@function em($target, $context: $doc-font-size) {
  @return ($target / $context) * 1em;
}

/*
   Bourbon clearfix
   ========================================================================== */
@mixin clearfix {
  clear: both;
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}