---
layout: default
---
<div id="main" role="main">
  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>

<!-- BibLaTeX Modal -->
<div id="biblatex-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">\[ \Biblatex \]</h3>
      <button class="modal-close">&times;</button>
    </div>
    <div class="modal-body">
      <pre id="biblatex-content"></pre>
    </div>
    <div class="modal-footer">
      <button id="biblatex-download" class="btn btn-primary"><i class="fa-solid fa-chevron-down fa-fw icon-pad-right"
          aria-hidden="true"></i>Download</button>
      <button id="biblatex-copy" class="btn btn-secondary"><i class="fa-solid fa-copy fa-fw icon-pad-right"
          aria-hidden="true"></i>Copy</button>
    </div>
  </div>
</div>