---
layout: default
---
<div id="main" role="main">
  <meta itemprop="headline" content="{{ page.title }}">
  <meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">

  <div class="page__inner-wrap">
    <h1 class="page__title" itemprop="headline">
      {{ page.title }}
    </h1>
    <div class="talk-meta-single">
        <div class="talk-type-single">{{ page.type }}</div>
        <div class="talk-venue-single">{{ page.venue }}</div>
        <div class="talk-date-single">
          <i class="fa-solid fa-calendar-day fa-fw pad-icon-right" aria-hidden="true"></i>
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>
        <div class="talk-location-single">
          <i class="fa-solid fa-location-dot fa-fw pad-icon-right" aria-hidden="true"></i>
          {{ page.location }}
        </div>
        {% if page.link %}
          <div class="talk-link-single">
            <a href="{{ page.link }}" class="talk-link talk-link--details" target="_blank" rel="noopener">
              <i class="fa-solid fa-link fa-fw pad-icon-right" aria-hidden="true"></i>
              <span class="talk-link__text">URL</span>
            </a>
          </div>
        {% endif %}
        {% if page.slidesurl %}
        <a href="{{ page.slidesurl }}" class="talk-link talk-link--slides" target="_blank" rel="noopener">
          <span class="talk-link__icon" aria-hidden="true">
            {% include icons/ppt.svg %}
          </span>
          <span class="talk-link__text">Slides</span>
        </a>
      {% endif %}
    </div>
    {% if content %}
    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
    {% endif %}
  </div>
</div>