.about-layout {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
  
  @include mobile-only {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  
  @include tablet-only {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  
  @include desktop-only {
    grid-template-columns: 2fr 1fr;
  }
  
  .about-sidebar {
    @include mobile-only {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid var(--global-border-color);
    }
    
    @include tablet-only {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid var(--global-border-color);
    }
  }
}