.archive__item-title {
  font-family: $header-font-family-caps;
  font-weight: $weight-regular;
  font-size: $font-size-16;
}
.archive__item-excerpt {
  margin-top: 0;
  font-size: $font-size-12;
}

.list__item {
  @include breakpoint($medium) {
    padding-right: 0;
  }

  @include breakpoint($large) {
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }
}
.archive__item-excerpt {
  display: block;
  font-size: $font-size-12;
}

@include mobile-only {
  .archive__item {
    .archive__item-title {
      font-size: 1rem;
      line-height: 1.3;
    }
    
    .archive__item-excerpt {
      font-size: 0.875rem;
      margin-left: 0;
    }
  }
}