/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
}

body {
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  padding-bottom: 8rem; /* Space for the footer */

  font-family: $global-font-family;
  line-height: 1.35;
  font-feature-settings: "onum" 1, "liga" 1, "clig" 1, "kern" 1;

  &.overflow--hidden {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-feature-settings: "liga" 1, "clig" 1, "kern" 1;
  font-family: $header-font-family;
}

h1 {
  font-size: $font-size-25;
  font-weight: $weight-light;
}

h2 {
  font-size: $font-size-20;
  font-weight: $weight-regular;
}

h3 {
  font-size: $font-size-16;
  font-weight: $weight-semibold;
}

h4 {
  font-size: $font-size-12;
  font-weight: $weight-black;
}

h5 {
  font-size: $font-size-12;
  font-weight: $weight-semibold;
  font-style: italic;
}

h6 {
  font-size: $font-size-11;
  font-weight: $weight-black;
  font-style: italic;
}

small, .small {
  font-size: $font-size-10;
}

p {
  margin-bottom: var(--baseline);
}

/* code */
tt, code, kbd, samp, pre {
  font-family: $code-font-family;
  font-feature-settings: "liga" 0, "clig" 0;
  font-size: $font-size-10;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

a > code,
figcaption > code,
li > code,
p > code,
td > code {
  color: var(--global-code-text-color);
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: $font-size-10;
  background: var(--global-code-background-color);
  border: 1px solid var(--global-dark-border-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr.divider {
    border: 1px solid var(--global-dark-border-color);
  }
/* lists */

ul li,
ol li {
  margin-bottom: var(--baseline);
}
li ul,
li ol {
  margin-top: var(--baseline);
}

/* Fix IE9 SVG bug */
svg:not(:root) {
  overflow: hidden;
}

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }