// Global URL Styles
a {
  color: var(--global-link-color);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--global-link-decoration-color);
  text-underline-offset: 0.24em;
  &:hover {
    color: var(--global-link-color-hover);
  }
  &:visited {
    color: var(--global-link-color-visited);
  }
}