
.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: $masthead-height;
  top: 1.5em;
  bottom: 0;
  width: 100%;
  box-shadow: none;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    font-family: $nav-font-family;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
      width: 100%;
      margin-top: 0;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu ul {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .masthead__menu ul > li {
    list-style: none;
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .masthead__menu ul > li:last-of-type {
    margin-left: auto;
    margin-right: 2rem;
  }
  
.site-title {
  font-weight: 500;
  font-variant: normal;
  letter-spacing: 0.05em;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0;
  
  a {
    color: var(--global-masthead-link-color);
    text-decoration: none;
    
    &:hover {
      color: var(--global-masthead-link-color-hover);
    }
  }
}
