/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;
  box-shadow: none;
  border-bottom: 1px solid var(--global-border-color);
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em;
    font-family: $nav-font-family;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
      width: 100%;
      margin-top: 0.5rem;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.site-title {
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  
  a {
    color: var(--global-masthead-link-color);
    text-decoration: none;
    
    &:hover {
      color: var(--global-masthead-link-color-hover);
    }
  }
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;
  
  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}