#main {
  max-width: var(--content-max-width);
  margin: 0 auto;
  
}

.page__content {
  p {
    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }
}